<div class="row">
  <h1 class="heading"><%= t('application.header_html') %></h1>
</div>
<div class="row">
  <!-- Link to CU auth -->
  <div id="cu-login" class="col-sm-12 primary-login">
    <h2><%= link_to t('application.cu.link_text'), auth_path(:cu, current_institution.code.downcase, redirect_uri: @redirect_uri) %></h2>
  </div>
</div>
<!-- Link to the rest of the secondary logins -->
<div class="row">
  <% institution.views["login"]["secondary"].each do |option| %>
    <%= render "wayf/auth_squares/#{option}" %>
  <% end %>
  <!-- Link to visitor square -->
  <%= render "wayf/auth_squares/visitor" %>
</div>
