<div class="row">
  <h1 class="heading"><%= t('application.header_html') %></h1>
</div>
<div class="row">
  <!-- Link to NYU Shibboleth auth -->
  <div id="nyu_shibboleth-login" class="col-sm-9 primary-login">
    <h2><%= link_to t('application.nyu.link_text'), user_nyu_shibboleth_omniauth_authorize_path(institution: current_institution.code, auth_type: :nyu) %></h2>
  </div>
  <!-- Link to the first secondary login auth in the list -->
  <%- option = institution.views["login"]["secondary"].first -%>
  <%= render "wayf/auth_squares/secondary_square", option: option %>
</div>
