<div id="logins" class="container options-container<%= " #{institution.code.to_s.downcase}-container" %>">
  <div class="inner-container">
    <% if request.path.include? "visitor" %>
      <%= render "visitor" %>
    <% else %>
      <%= render "wayf/#{institution.code.to_s.downcase}" %>
    <% end %>
    <%= render "wayf/help/#{institution.code.to_s.downcase}_help" rescue render "wayf/help/help" %>
  </div>
</div>
