<div id="logins" class="container options-container">
  <div class="inner-container">
    <div class="row">
      <h1><%= t('application.logged_out') %></h1>
    </div>
    <div class="row logged_out_text">
      <p><span class="label label-warning">Important Security Notice:</span> Although you have logged out from your application, you may still have valid sessions that can enable your browser to log into other applications automatically using NYU's single sign-on technology.</p>
      <p>For your security, if you are done working with NYU web applications, please exit your web browser.</p>
      <p>By your use of these resources, you agree to abide by the <%= link_to 'Policy on Responsible Use of NYU Computers and Data', 'http://www.nyu.edu/about/policies-guidelines-compliance/policies-and-guidelines/responsible-use-of-nyu-computers-and-data-policy-on.html', target: :_blank %>.</p>
    </div>
    <div class="row">
      <h2 class="help">
        <%= fa_icon "question-circle 2x", class: "circle" %>
        <span class="help_text">
          <%= link_to t('application.logged_out_footer_html'), 'http://library.nyu.edu/ask', target: :_blank %>
        </span>
      </h2>
    </div>
  </div>
</div>
