---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.edu/X?bor_id=copper&library=<LIB>&op=bor-auth&sub_library=<SUBLIB>&verification=onion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-auth>\n<error>Error
        in Verification</error>\n<session-id>XC53C131P1IT91MKR7QBRV844YCUVPD92P7FYQYI61EAMEUB5C</session-id>\n</bor-auth>\n "
  recorded_at: Tue, 19 Aug 2014 15:48:58 GMT
recorded_with: VCR 2.8.0
