# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles (safe to comment out in dev)
/log/*.log
/tmp
/coverage

# Ignore various configuration files
.DS_Store
Figsfile
.git
.circleci/
*.env
Dockerfile*
docker-compose.yml
nginx
node_modules


script/docker/*

# Miscellaneous Docs
*.md
screenshots/
