<div class="row">
  <h2 class="help">
    <%= fa_icon "question-circle 2x", class: "circle", 'aria-hidden' => 'true' %>
    <span class="help_text">
      <%=
         link_to_remote_popover t('application.wayf_footer_html'),
            "http://library.nyu.edu/help/ns/login/",
              "footer-help-popover", "data-class"=>"footer-help", "title"=>t('application.ns.wayf_footer_popover_header_html')
       %>
    </span>
  </h2>
</div>
