---
http_interactions:
- request:
    method: get
    uri: http://aleph.institution.edu/X?bor_id=BOR_ID&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<z303>\n<z303-id>BOR_ID</z303-id>\n<z303-proxy-for-id></z303-proxy-for-id>\n<z303-primary-id></z303-primary-id>\n<z303-name-key>test
        nyustudent                       BOR_ID</z303-name-key>\n<z303-user-type></z303-user-type>\n<z303-user-library></z303-user-library>\n<z303-open-date>05/22/2014</z303-open-date>\n<z303-update-date>05/22/2014</z303-update-date>\n<z303-con-lng>ENG</z303-con-lng>\n<z303-alpha>L</z303-alpha>\n<z303-name>Test,
        NYUStudent</z303-name>\n<z303-title></z303-title>\n<z303-delinq-1>00</z303-delinq-1>\n<z303-delinq-n-1></z303-delinq-n-1>\n<z303-delinq-1-update-date>00000000</z303-delinq-1-update-date>\n<z303-delinq-1-cat-name></z303-delinq-1-cat-name>\n<z303-delinq-2>00</z303-delinq-2>\n<z303-delinq-n-2></z303-delinq-n-2>\n<z303-delinq-2-update-date>00000000</z303-delinq-2-update-date>\n<z303-delinq-2-cat-name></z303-delinq-2-cat-name>\n<z303-delinq-3>00</z303-delinq-3>\n<z303-delinq-n-3></z303-delinq-n-3>\n<z303-delinq-3-update-date>00000000</z303-delinq-3-update-date>\n<z303-delinq-3-cat-name></z303-delinq-3-cat-name>\n<z303-budget></z303-budget>\n<z303-profile-id></z303-profile-id>\n<z303-ill-library></z303-ill-library>\n<z303-home-library></z303-home-library>\n<z303-field-1></z303-field-1>\n<z303-field-2></z303-field-2>\n<z303-field-3></z303-field-3>\n<z303-note-1></z303-note-1>\n<z303-note-2></z303-note-2>\n<z303-salutation></z303-salutation>\n<z303-ill-total-limit>9999</z303-ill-total-limit>\n<z303-ill-active-limit>9999</z303-ill-active-limit>\n<z303-dispatch-library></z303-dispatch-library>\n<z303-birth-date></z303-birth-date>\n<z303-export-consent>Y</z303-export-consent>\n<z303-proxy-id-type>00</z303-proxy-id-type>\n<z303-send-all-letters>Y</z303-send-all-letters>\n<z303-plain-html>P</z303-plain-html>\n<z303-want-sms>N</z303-want-sms>\n<z303-plif-modification></z303-plif-modification>\n<z303-title-req-limit>0000</z303-title-req-limit>\n<z303-gender></z303-gender>\n<z303-birthplace></z303-birthplace>\n<z303-upd-time-stamp>200001011200000</z303-upd-time-stamp>\n<z303-last-name></z303-last-name>\n<z303-first-name></z303-first-name>\n</z303>\n<z304>\n<z304-id>BOR_ID</z304-id>\n<z304-sequence>01</z304-sequence>\n<z304-address-0>NYUStudent
        Test</z304-address-0>\n<z304-zip></z304-zip>\n<z304-email-address></z304-email-address>\n<z304-telephone></z304-telephone>\n<z304-date-from>20140522</z304-date-from>\n<z304-date-to>20990724</z304-date-to>\n<z304-address-type>01</z304-address-type>\n<z304-telephone-2></z304-telephone-2>\n<z304-telephone-3></z304-telephone-3>\n<z304-telephone-4></z304-telephone-4>\n<z304-sms-number></z304-sms-number>\n<z304-update-date>20140522</z304-update-date>\n<z304-cat-name>MONTELEONE</z304-cat-name>\n<z304-upd-time-stamp>200001011200000</z304-upd-time-stamp>\n</z304>\n<z305>\n<z305-id>BOR_ID</z305-id>\n<z305-sub-library>DEFAULT_LIB</z305-sub-library>\n<z305-open-date>05/22/2014</z305-open-date>\n<z305-update-date>05/22/2014</z305-update-date>\n<z305-bor-type></z305-bor-type>\n<z305-bor-status>NYU
        Undergraduate Student</z305-bor-status>\n<z305-registration-date>00000000</z305-registration-date>\n<z305-expiry-date>05/22/2034</z305-expiry-date>\n<z305-note></z305-note>\n<z305-loan-permission>N</z305-loan-permission>\n<z305-photo-permission>Y</z305-photo-permission>\n<z305-over-permission>Y</z305-over-permission>\n<z305-multi-hold>N</z305-multi-hold>\n<z305-loan-check>N</z305-loan-check>\n<z305-hold-permission>N</z305-hold-permission>\n<z305-renew-permission>N</z305-renew-permission>\n<z305-rr-permission>N</z305-rr-permission>\n<z305-ignore-late-return>N</z305-ignore-late-return>\n<z305-last-activity-date></z305-last-activity-date>\n<z305-photo-charge>C</z305-photo-charge>\n<z305-no-loan>0000</z305-no-loan>\n<z305-no-hold>0000</z305-no-hold>\n<z305-no-photo>0000</z305-no-photo>\n<z305-no-cash>0000</z305-no-cash>\n<z305-cash-limit>0.00</z305-cash-limit>\n<z305-credit-debit></z305-credit-debit>\n<z305-sum>0.00</z305-sum>\n<z305-delinq-1>00</z305-delinq-1>\n<z305-delinq-n-1></z305-delinq-n-1>\n<z305-delinq-1-update-date>00000000</z305-delinq-1-update-date>\n<z305-delinq-1-cat-name></z305-delinq-1-cat-name>\n<z305-delinq-2>00</z305-delinq-2>\n<z305-delinq-n-2></z305-delinq-n-2>\n<z305-delinq-2-update-date>00000000</z305-delinq-2-update-date>\n<z305-delinq-2-cat-name></z305-delinq-2-cat-name>\n<z305-delinq-3>00</z305-delinq-3>\n<z305-delinq-n-3></z305-delinq-n-3>\n<z305-delinq-3-update-date>00000000</z305-delinq-3-update-date>\n<z305-delinq-3-cat-name></z305-delinq-3-cat-name>\n<z305-field-1></z305-field-1>\n<z305-field-2></z305-field-2>\n<z305-field-3></z305-field-3>\n<z305-hold-on-shelf>N</z305-hold-on-shelf>\n<z305-end-block-date></z305-end-block-date>\n<z305-booking-permission>N</z305-booking-permission>\n<z305-booking-ignore-hours>N</z305-booking-ignore-hours>\n<z305-rush-cat-request>N</z305-rush-cat-request>\n<z305-upd-time-stamp>200001011200000</z305-upd-time-stamp>\n</z305>\n<session-id>EIM2K6H7KEUA2VUEUFH5YFXYVDSI7QMA97765C5PSPDQN7JG3J</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:25:49 GMT
- request:
    method: get
    uri: http://aleph.institution.edu/X?bor_id=snowj&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>IUPTFH35A2YVEHTRPV72LJ15XICBVU98CBYEC3NDGIY4NP2RI1</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:35:13 GMT
- request:
    method: get
    uri: http://aleph.institution.edu/X?bor_id=NS_BOR_ID&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>UKMMJY533NMGSSQGAI44V2CHUIP4IT24EBC1HXAV6JD36A61LF</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:35:14 GMT
[...]
- request:
    method: get
    uri: http://aleph.institution.edu/X?bor_id=snowj@1nyu.edu&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>XP4HPVC8QAXRSRYG8UAS3RK3BHATE2GXPJQT96BD2MDNML1ILM</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:53:47 GMT
- request:
    method: get
    uri: http://aleph.institution.edu/X?bor_id=INVALID_ID&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>8V28RSMS8QBKLRNT8YJKM1FBL1MEYY4VNKAP5TDSJ5LETE18KI</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:53:50 GMT
[...]
- request:
    method: get
    uri: http://aleph.institution.edu/X?bor_id=1234567890&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>QHQM1GDKF62KSR35EQQB385JCEEQ5JH3XNQ3MXFVTDNF2NUFRI</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:53:56 GMT
[...]
- request:
    method: get
    uri: http://http://aleph.institution.edu/X?bor_id=snowj&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>SGNXQLRCLMDYTQ1E2BG5NCLUAQESPSC6SUT9DGCBPU83FXALXF</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:56:22 GMT
- request:
    method: get
    uri: http://http://aleph.institution.edu/X?bor_id=BOR_ID&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<z303>\n<z303-id>BOR_ID</z303-id>\n<z303-proxy-for-id></z303-prox[...]
- request:
    method: get
    uri: http://http://aleph.institution.edu/X?bor_id=NS_BOR_ID&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>RIUPE32LSMJG5ULPXTN71DXJJJQCQ42FLXCVNXRVUUUJHNVP84</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:56:27 GMT
[...]
- request:
    method: get
    uri: http://http://aleph.institution.edu/X?bor_id=snowj@1nyu.edu&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>PFJUM6PNQ6P7AKDN86MBYVX2RANKLH62YNJSBBNFP4H68KXR8I</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:56:32 GMT
- request:
    method: get
    uri: http://http://aleph.institution.edu/X?bor_id=1234567890&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>XR8PG7DK2MQ3B8E3P6NY5YU7PUSQ736KLFSMDAU1C4QP1GAFC8</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:56:36 GMT
[...]
- request:
    method: get
    uri: http://http://aleph.institution.edu/X?bor_id=INVALID_ID&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>TLIYC7MF1V4F1E99K8A3BFLP49Y3QC7FRKNT1RMHGR4Q48RHLM</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 20:56:45 GMT
recorded_with: VCR 2.8.0
