---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Ftwitter%2Fcallback%3Finstitute%3DNYU",
        oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="OUkziXwCEjObqyXW7NKcyDXIbgo3iJlUBVVBekzE",
        oauth_signature="7DvU%2BGOBopYyv8XeajzdiyZlVr8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1407965427", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"6770edb8c609859dd690dc0e411d18d8"'
      Last-Modified:
      - Wed, 13 Aug 2014 21:30:28 GMT
      Status:
      - 200 OK
      X-Mid:
      - 022cfae7de5a27af8979b8f985cca65b1efe4741
      X-Transaction:
      - ca90d8363f539ee0
    body:
      encoding: US-ASCII
      string: oauth_token=FmVh9cjTGKrPdD4LbfApRt1Ye1SebCDCA7w8htvbLc&oauth_token_secret=dxtsTGfzPODJTa1qjdp4VcGeoEYysbK3J7yxtUS7oE&oauth_callback_confirmed=true
  recorded_at: Wed, 13 Aug 2014 21:30:28 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="<TWITTER_APP_KEY>",
        oauth_nonce="tswbf8RNkUWnpuehPvjTZ6xrRrnroaXHVjnhzWVeFo", oauth_signature="RRutuXku327%2Bo%2FPeyPYadmwlBSc%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1407965430", oauth_token="FmVh9cjTGKrPdD4LbfApRt1Ye1SebCDCA7w8htvbLc",
        oauth_verifier="WtWILTw5vDIacD7jYoOXkvtwSkLc6XHyabo8Cw", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"8d186eb5f7e63c5a4d6fd28843069ada"'
      Last-Modified:
      - Wed, 13 Aug 2014 21:30:31 GMT
      Status:
      - 200 OK
      X-Mid:
      - 4ac5dc9564735a004c46e57fa01215da2ba91ffc
      X-Transaction:
      - b3cfa5c053d8234a
      X-Connection-Hash:
      - ffe0a413e66b22d4ec4c9fbbd07d4a96
    body:
      encoding: US-ASCII
      string: oauth_token=1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I&oauth_token_secret=DxreKIh6WdJe6fCtlI075R4l4tAFdeRHRf1Q3krfgRWyL&user_id=1365110203&screen_name=libtechnyu
  recorded_at: Wed, 13 Aug 2014 21:30:31 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="16G2EGcwZ8LtH5uQq22cZlxY1Q2l7e20pXGpjyQJEw",
        oauth_signature="jZcm8cPmyn0SeSZ2T%2BG5irBcYzk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1407965431", oauth_token="1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 13 Aug 2014 21:30:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1407965836'
      X-Transaction:
      - 5b1961b392f76bcb
    body:
      encoding: US-ASCII
      string: ! '{"id":1365110203,"id_str":"1365110203","name":"libtechnyu","screen_name":"libtechnyu","location":"","description":"","url":"http:\/\/t.co\/Ujmbv1PKeq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Ujmbv1PKeq","expanded_url":"http:\/\/library.nyu.edu","display_url":"library.nyu.edu","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 19 18:32:13 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Wed, 13 Aug 2014 21:30:31 GMT
- request:
    method: get
    uri: http://aleph.institution.edu/X?bor_id=1365110203&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>ALIKIULFJM75UQ63VGH4VKCHGLCCRF19V3DA9N3MX5G8F87FL2</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 21:30:32 GMT
- request:
    method: get
    uri: http://aleph.institution.edu/X?bor_id=1365110203&cash=N&library=DEFAULT_LIB&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>DVG74HPH15XBU8MUHIYI69P5GR5I4VIFBLC1YYBA39I97R44NJ</session-id>\n</bor-info>\n "
  recorded_at: Wed, 13 Aug 2014 21:30:32 GMT
recorded_with: VCR 2.8.0
