---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Ftwitter%2Fcallback%3Finstitute%3DNYU",
        oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="P7H81BM24DpuFnl5hAKNDqn3GcmgMVuLQ5QtFNLwJg",
        oauth_signature="7%2BjXoDuvrRVD4%2FBRNLD2RKl8Tlk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408468598", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"44fdec32ee6cac03166f3e7cbbe59f59"'
      Last-Modified:
      - Tue, 19 Aug 2014 17:16:43 GMT
      Status:
      - 200 OK
      X-Mid:
      - b51db7c67f4040e9e0a7fb19cf63d7946da222d1
      X-Transaction:
      - 4c6cbd4fd28da0a7
    body:
      encoding: US-ASCII
      string: oauth_token=ltq4akg9wmt806T1nrysVbYT9Bh4cDRD&oauth_token_secret=DhWL4cliQBj7Hj9zOykoSMTwoy3ztUml&oauth_callback_confirmed=true
  recorded_at: Tue, 19 Aug 2014 17:16:43 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="<TWITTER_APP_KEY>",
        oauth_nonce="bEiHrt9C226FYCcm7rPWSbDBf827QAT1T4XfUAzAPw", oauth_signature="K1cyuWBGW3mYix70VsjlCX0E%2Bg8%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1408468605", oauth_token="ltq4akg9wmt806T1nrysVbYT9Bh4cDRD",
        oauth_verifier="K3AiqcJIUJoql5yTySMj4LDdNi0eHbXw", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"8d186eb5f7e63c5a4d6fd28843069ada"'
      Last-Modified:
      - Tue, 19 Aug 2014 17:16:46 GMT
      Status:
      - 200 OK
      X-Mid:
      - ddfd5a4c250aaa9bb10325017050e8ac1af1cd93
      X-Transaction:
      - 9f89665ff7b24f82
    body:
      encoding: US-ASCII
      string: oauth_token=1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I&oauth_token_secret=DxreKIh6WdJe6fCtlI075R4l4tAFdeRHRf1Q3krfgRWyL&user_id=1365110203&screen_name=libtechnyu
  recorded_at: Tue, 19 Aug 2014 17:16:46 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="9vcoqwT1ldMHqJexbTXUANHYMbGBjik7PQdfGh4EmQs",
        oauth_signature="bxSZxrGd69y%2FYEsr57mtkYU4ufA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408468606", oauth_token="1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 19 Aug 2014 17:16:46 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1408469506'
      X-Transaction:
      - dbad52f4baeb4eea
    body:
      encoding: US-ASCII
      string: ! '{"id":1365110203,"id_str":"1365110203","name":"libtechnyu","screen_name":"libtechnyu","location":"","description":"","url":"http:\/\/t.co\/Ujmbv1PKeq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Ujmbv1PKeq","expanded_url":"http:\/\/library.nyu.edu","display_url":"library.nyu.edu","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 19 18:32:13 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 19 Aug 2014 17:16:47 GMT
recorded_with: VCR 2.8.0
