---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Ftwitter%2Fcallback%3Finstitute%3DNYU",
        oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="yaBQWylkYA2Uo6EszUvcm8Bsgsa7c7ypN5O6GtEfI",
        oauth_signature="xljyUECFtm76tg1KLzEv4M1CZfw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408117589", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"3f741a72279e282eb83c7f3edc6ea3cd"'
      Last-Modified:
      - Fri, 15 Aug 2014 15:46:29 GMT
      Status:
      - 200 OK
      X-Mid:
      - d1c1538d84f5a331fce4459d7371a11b0ea4c656
      X-Transaction:
      - 0d5748f09f1d7497
    body:
      encoding: US-ASCII
      string: oauth_token=0gTb4ucOLwrEbDA7lXDqgFPMCDSjc89O&oauth_token_secret=HMbtWfJ4yGc6sO82DtGf5VpQ4FPC9wJJ&oauth_callback_confirmed=true
  recorded_at: Fri, 15 Aug 2014 15:46:29 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="<TWITTER_APP_KEY>",
        oauth_nonce="oChmHHdQSx77WJRQLL5U51CmGHqi2ypiPnfbto", oauth_signature="9qRnQTiDulttXitm%2FOUF5%2BXhKO0%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1408117591", oauth_token="0gTb4ucOLwrEbDA7lXDqgFPMCDSjc89O",
        oauth_verifier="qj2WvqRkfvrNKgzVgQyUfJughJ0msCDV", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"8d186eb5f7e63c5a4d6fd28843069ada"'
      Last-Modified:
      - Fri, 15 Aug 2014 15:46:32 GMT
      Status:
      - 200 OK
      X-Mid:
      - 02681382b0eda9503e79b416e43155420780b25d
      X-Transaction:
      - a50b040ac42c2dc7
    body:
      encoding: US-ASCII
      string: oauth_token=1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I&oauth_token_secret=DxreKIh6WdJe6fCtlI075R4l4tAFdeRHRf1Q3krfgRWyL&user_id=1365110203&screen_name=libtechnyu
  recorded_at: Fri, 15 Aug 2014 15:46:32 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="q41tsc6Vyi5tlVFMeREXJpL1BDEBayzbEPKrezVWIMU",
        oauth_signature="2L%2F1RTS%2FiT9u0tzG3GqncYA7EFo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408117592", oauth_token="1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Aug 2014 15:46:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1408118366'
      X-Transaction:
      - 580316d8653c9399
    body:
      encoding: US-ASCII
      string: ! '{"id":1365110203,"id_str":"1365110203","name":"libtechnyu","screen_name":"libtechnyu","location":"","description":"","url":"http:\/\/t.co\/Ujmbv1PKeq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Ujmbv1PKeq","expanded_url":"http:\/\/library.nyu.edu","display_url":"library.nyu.edu","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 19 18:32:13 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 15 Aug 2014 15:46:32 GMT
- request:
    method: get
    uri: http://aleph.library.edu/X?bor_id=1365110203&cash=N&library=LIBRARY&loans=N&op=bor_info&sub_library=LIBRARY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>1I2HH7QVLPUR535MLNUJ45LT68V49AVJM8D7BISYE7X2SA2L8G</session-id>\n</bor-info>\n "
  recorded_at: Fri, 15 Aug 2014 15:46:33 GMT
- request:
    method: get
    uri: http://aleph.library.edu/X?bor_id=1365110203&cash=N&library=LIBRARY&loans=N&op=bor_info&sub_library=LIBRARY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>GR9N7GVNY3ARRH37F1E2MV8XJTNEPM27FCP871RJKGU1DV8VSL</session-id>\n</bor-info>\n "
  recorded_at: Fri, 15 Aug 2014 15:46:33 GMT
recorded_with: VCR 2.8.0
