---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Ftwitter%2Fcallback%3Finstitute%3DNYU",
        oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="RcbhBd1DTmV9Zpll5iQDGZL6ppAllOmtoVDkt0LTMKY",
        oauth_signature="BdQMqi79I36QzI8Fj7E8XTY8vq8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408111381", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"2cc4e9b2f7e68c33fe8f92e49224e54c"'
      Last-Modified:
      - Fri, 15 Aug 2014 14:03:02 GMT
      Status:
      - 200 OK
      X-Mid:
      - 3d5ad7d614d0f25ab5c3a642035c79fa6e96d5ff
      X-Transaction:
      - a11da657dd4671e9
    body:
      encoding: US-ASCII
      string: oauth_token=AcWVqYXFGo9km70KaijZvAWWerYIOoUM&oauth_token_secret=nJO2CdXcMPysJurIRziCmCZsbeSdsjnj&oauth_callback_confirmed=true
  recorded_at: Fri, 15 Aug 2014 14:03:02 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="<TWITTER_APP_KEY>",
        oauth_nonce="C7IErL5kV3adxbDeyLxZyiJOKiojGSiCi4d6kXIo", oauth_signature="MHzDGd9gHo3vL40fisMIw2qd2gg%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1408111392", oauth_token="AcWVqYXFGo9km70KaijZvAWWerYIOoUM",
        oauth_verifier="Wsa60oEHVM8WSobOg2MY0v6Mz9mlIY8Q", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"8d186eb5f7e63c5a4d6fd28843069ada"'
      Last-Modified:
      - Fri, 15 Aug 2014 14:03:12 GMT
      Status:
      - 200 OK
      X-Mid:
      - 62b31fe60fa92883e113815c1528853bf96b237a
      X-Transaction:
      - b7839ae3942225ec
    body:
      encoding: US-ASCII
      string: oauth_token=1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I&oauth_token_secret=DxreKIh6WdJe6fCtlI075R4l4tAFdeRHRf1Q3krfgRWyL&user_id=1365110203&screen_name=libtechnyu
  recorded_at: Fri, 15 Aug 2014 14:03:13 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="TE2Hu55s4EkCov8od48rgVUKhcIHbVXOAT7bbcG5EM",
        oauth_signature="7WTO7BZeDpjK%2B8Bu0a%2BQgHwZwgY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408111393", oauth_token="1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Aug 2014 14:03:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1408111953'
      X-Transaction:
      - 257306a8088e47e7
    body:
      encoding: US-ASCII
      string: ! '{"id":1365110203,"id_str":"1365110203","name":"libtechnyu","screen_name":"libtechnyu","location":"","description":"","url":"http:\/\/t.co\/Ujmbv1PKeq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Ujmbv1PKeq","expanded_url":"http:\/\/library.nyu.edu","display_url":"library.nyu.edu","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 19 18:32:13 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 15 Aug 2014 14:03:13 GMT
- request:
    method: get
    uri: http://aleph.library.edu/X?bor_id=1365110203&cash=N&library=LIBRARY&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>LKBSIKNR7P8DJB15VH56B4IVAQPUHQK47HXBKXEJBVPFL9BE6D</session-id>\n</bor-info>\n "
  recorded_at: Fri, 15 Aug 2014 14:03:13 GMT
- request:
    method: get
    uri: http://aleph.library.edu/X?bor_id=1365110203&cash=N&library=LIBRARY&loans=N&op=bor_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>D4MP2QBIU5SPXHYR3XMQ7MPXYX271LYJ6K9SL813IN412K5636</session-id>\n</bor-info>\n "
  recorded_at: Fri, 15 Aug 2014 14:03:13 GMT
recorded_with: VCR 2.8.0
