---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Ftwitter%2Fcallback%3Finstitute%3DNYU",
        oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="ZvJeCvfwoIYXOdm4v7gfoiAKTzKO7z3afQWTO3zQo",
        oauth_signature="240OxZVr0kdfmlMZYSzNKBfmN5s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408115236", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"11781d9ed65784e8fe35a054961f2f47"'
      Last-Modified:
      - Fri, 15 Aug 2014 15:07:16 GMT
      Status:
      - 200 OK
      X-Mid:
      - 95e39391fe7b2e8e5244a0e6280168879ffd212c
      X-Transaction:
      - cca9fc13cefdc6b5
    body:
      encoding: US-ASCII
      string: oauth_token=M6uBF9fIoWGJTrfLmMypeMgkFNJZLnKj&oauth_token_secret=JGB0bSVh8U6PAyH2lkujUquHsrRRf3ro&oauth_callback_confirmed=true
  recorded_at: Fri, 15 Aug 2014 15:07:16 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="<TWITTER_APP_KEY>",
        oauth_nonce="FynTnYs9oigF9omziAExcZMOm7x3m3XFMoyREOpFD8", oauth_signature="gSJ2Ac98uPKysz84T3ueRN%2BdkOY%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1408115238", oauth_token="M6uBF9fIoWGJTrfLmMypeMgkFNJZLnKj",
        oauth_verifier="iUXyGa6LgQlagCyiXq7Mik3NuLmiGpvQ", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"8d186eb5f7e63c5a4d6fd28843069ada"'
      Last-Modified:
      - Fri, 15 Aug 2014 15:07:18 GMT
      Status:
      - 200 OK
      X-Mid:
      - b6bd63bab246e03aaf7ac51778b8bb619f62a76e
      X-Transaction:
      - e791266cb8056855
    body:
      encoding: US-ASCII
      string: oauth_token=1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I&oauth_token_secret=DxreKIh6WdJe6fCtlI075R4l4tAFdeRHRf1Q3krfgRWyL&user_id=1365110203&screen_name=libtechnyu
  recorded_at: Fri, 15 Aug 2014 15:07:18 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="ngmWJmGrPJzrkDk0IuukcEaixBRrnzevtY8hIDvVs",
        oauth_signature="QHlAvwdMwIRcEsPlf09lmNDeq1I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408115238", oauth_token="1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Aug 2014 15:07:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1408116138'
      X-Transaction:
      - 049f696e0faf9b1e
    body:
      encoding: US-ASCII
      string: ! '{"id":1365110203,"id_str":"1365110203","name":"libtechnyu","screen_name":"libtechnyu","location":"","description":"","url":"http:\/\/t.co\/Ujmbv1PKeq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Ujmbv1PKeq","expanded_url":"http:\/\/library.nyu.edu","display_url":"library.nyu.edu","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 19 18:32:13 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 15 Aug 2014 15:07:18 GMT
- request:
    method: get
    uri: http://aleph.library.edu/X?bor_id=1365110203&cash=N&library=LIBRARY&loans=N&op=bor_info&sub_library=LIBRARY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>H9ARB4EMN48BLN1ASUQNTF8A6VPISSLI825KLU74KV5EP5KBNH</session-id>\n</bor-info>\n "
  recorded_at: Fri, 15 Aug 2014 15:07:19 GMT
- request:
    method: get
    uri: http://aleph.library.edu/X?bor_id=1365110203&cash=N&library=LIBRARY&loans=N&op=bor_info&sub_library=LIBRARY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<bor-info>\n<error>Error
        retrieving Patron System Key</error>\n<session-id>E2JDVGVQGXVRC15BIINAN7M5VEJL5IHFJTXPLRY6XDU66GVH1K</session-id>\n</bor-info>\n "
  recorded_at: Fri, 15 Aug 2014 15:07:19 GMT
recorded_with: VCR 2.8.0
