---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Ftwitter%2Fcallback%3Finstitute%3DNYU",
        oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="suRnxsua2L1XZVKtxQcHJLfKwTkNXqYYddDL8utqf4",
        oauth_signature="o6ZwZoSuX0r9Vj5OQKwDSYHOsEk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408463347", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"4473f01a3a50a653c6075d188b338360"'
      Last-Modified:
      - Tue, 19 Aug 2014 15:49:08 GMT
      Status:
      - 200 OK
      X-Mid:
      - d5b8b0d4d54fa426ad3caba13a5ec5abafaab9ff
      X-Transaction:
      - 522c6f9d9bf97a83
    body:
      encoding: US-ASCII
      string: oauth_token=A62yGmtEyBFHOfgivOtMxeZr01OvzAOJ&oauth_token_secret=Ig7srnfRFeCbuW08jFVPgEDuS3ssCqIR&oauth_callback_confirmed=true
  recorded_at: Tue, 19 Aug 2014 15:49:08 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="<TWITTER_APP_KEY>",
        oauth_nonce="xdzqCHzPkSrwFIXP7aFPgSitVucQLECiwIuyEz5Q8nw", oauth_signature="DLUA40cP0CaB8bIDJIHyWa0GEmM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1408463350", oauth_token="A62yGmtEyBFHOfgivOtMxeZr01OvzAOJ",
        oauth_verifier="Q4gwx9Hi6fMyLhaq4OmQhrhzjypnWO6r", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"8d186eb5f7e63c5a4d6fd28843069ada"'
      Last-Modified:
      - Tue, 19 Aug 2014 15:49:11 GMT
      Status:
      - 200 OK
      X-Mid:
      - b89eac5043b6be1b81c46d0c2018ee91cc5fdbd8
      X-Transaction:
      - 759bcbfafd91782d
    body:
      encoding: US-ASCII
      string: oauth_token=1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I&oauth_token_secret=DxreKIh6WdJe6fCtlI075R4l4tAFdeRHRf1Q3krfgRWyL&user_id=1365110203&screen_name=libtechnyu
  recorded_at: Tue, 19 Aug 2014 15:49:11 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="onwpoqdRfAoplkDMHV2f3drcjyUKnIJ1Qgb9QgofJ4",
        oauth_signature="QzadEkNMxz%2BVXjtQ4quhsZ80AkI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408463351", oauth_token="1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 19 Aug 2014 15:49:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1408464252'
      X-Transaction:
      - 4d46c6acdc88e64c
    body:
      encoding: US-ASCII
      string: ! '{"id":1365110203,"id_str":"1365110203","name":"libtechnyu","screen_name":"libtechnyu","location":"","description":"","url":"http:\/\/t.co\/Ujmbv1PKeq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Ujmbv1PKeq","expanded_url":"http:\/\/library.nyu.edu","display_url":"library.nyu.edu","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 19 18:32:13 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 19 Aug 2014 15:49:12 GMT
recorded_with: VCR 2.8.0
