---
http_interactions:
- request:
    method: post
    uri: https://collector.newrelic.com/agent_listener/12//get_redirect_host?marshal_format=json
    body:
      encoding: UTF-8
      string: ! '[]'
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: US-ASCII
      string: ! '{"exception":{"message":"Invalid license key, please contact support@newrelic.com","error_type":"NewRelic::Agent::LicenseException"}}'
  recorded_at: Thu, 15 May 2014 19:26:49 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2F127.0.0.1%3A57124%2Fusers%2Fauth%2Ftwitter%2Fcallback%3Finstitute%3DNYU",
        oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="FgplDo3LJl0H445Hp8CqD8dHE7PFWfzP87N8tM86olA",
        oauth_signature="lvLaLFZ75jMDkdh1Tjjyo7o6CxY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1400182010", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"c6e8922fad63b440b72561fad3a5ead3"'
      Last-Modified:
      - Thu, 15 May 2014 19:26:52 GMT
      Status:
      - 200 OK
      X-Mid:
      - 26eb69544b1e6405fd2384322eba187dcff0b6b3
      X-Tfe-Logging-Request-Category:
      - API
      X-Transaction:
      - 5b0f9e4d90852d28
    body:
      encoding: US-ASCII
      string: oauth_token=iouawPzYHS0w9MOzMJgDuEkMt24fHhw9ydFefLI&oauth_token_secret=jMVG3tfJpzxOVe4kIgspIaBGOf5FuepnCD9AMuikpA&oauth_callback_confirmed=true
  recorded_at: Thu, 15 May 2014 19:26:51 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="<TWITTER_APP_KEY>",
        oauth_nonce="9qEIDPLMuWDE3tosWSR094Hwin0lOnOZPTYpaidAuU", oauth_signature="NP3aDjL3thKxovYTNqcdXbSfZLM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400182017", oauth_token="iouawPzYHS0w9MOzMJgDuEkMt24fHhw9ydFefLI",
        oauth_verifier="P5NkREBLfgt2QHZYAt0m9S8LvE1W6h2XKO6mVlMYuI", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"8d186eb5f7e63c5a4d6fd28843069ada"'
      Last-Modified:
      - Thu, 15 May 2014 19:26:59 GMT
      Status:
      - 200 OK
      X-Mid:
      - 7c71d3f51fbe60e656cea5fa5164f6b7217262c0
      X-Tfe-Logging-Request-Category:
      - API
      X-Transaction:
      - 221d6bf76fd0b64d
    body:
      encoding: US-ASCII
      string: oauth_token=1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I&oauth_token_secret=DxreKIh6WdJe6fCtlI075R4l4tAFdeRHRf1Q3krfgRWyL&user_id=1365110203&screen_name=libtechnyu
  recorded_at: Thu, 15 May 2014 19:26:58 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_APP_KEY>", oauth_nonce="WLeL1sUU5jQ5Yam7J5hfuIt8Ca7Vu8pRoTAvk6qTsIk",
        oauth_signature="QWxmgLX6dggJKhRYcDUs8qphEjo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1400182018", oauth_token="1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 15 May 2014 19:27:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1400182920'
      X-Tfe-Logging-Request-Category:
      - API
      X-Transaction:
      - 76bdbea82f98f51d
    body:
      encoding: US-ASCII
      string: ! '{"id":1365110203,"id_str":"1365110203","name":"libtechnyu","screen_name":"libtechnyu","location":"","description":"","url":"http:\/\/t.co\/Ujmbv1PKeq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Ujmbv1PKeq","expanded_url":"http:\/\/library.nyu.edu","display_url":"library.nyu.edu","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 19 18:32:13 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 15 May 2014 19:26:58 GMT
recorded_with: VCR 2.8.0
