---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_callback="http%3A%2F%2F127.0.0.1%3A54004%2Fusers%2Fauth%2Ftwitter%2Fcallback%3Finstitute%3DNYU",
        oauth_consumer_key="pTILKkhngMyMqGpv3jQJUQ", oauth_nonce="zSt3vs414XEInhU8hc2ZhFSdV7oMT0t1OakFOBpccrM",
        oauth_signature="I8dbugk%2FB4nxgpjlh210g6Sf4SE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1400085895", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"d0bcb1dfc9b3e1ec8729ba30f902d63f"'
      Last-Modified:
      - Wed, 14 May 2014 16:44:56 GMT
      Status:
      - 200 OK
      X-Mid:
      - 6d569a20c6864d547c904aa247aaadeaf51f31ce
      X-Tfe-Logging-Request-Category:
      - API
      X-Transaction:
      - ecfc1e6c0a6c7125
    body:
      encoding: US-ASCII
      string: oauth_token=rg1PlxWDG52jPHl3BTZNK8vDZUGQbZkaxpTnVaKd4&oauth_token_secret=CIvYqIM2eisOqug9RN8X0BHMrgHASdimEie2DgDsc&oauth_callback_confirmed=true
  recorded_at: Wed, 14 May 2014 16:44:56 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="pTILKkhngMyMqGpv3jQJUQ",
        oauth_nonce="p5r37UEL8VzzX7391Isf2NDWXlTvVxxBbfzydIIt9s", oauth_signature="brv8j8ETAK0CI0OpAVZ9COPg4M4%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1400085897", oauth_token="rg1PlxWDG52jPHl3BTZNK8vDZUGQbZkaxpTnVaKd4",
        oauth_verifier="I89VU3g1qKc2nUmK7EjHtXBCX8ohKXG0TrNQnDDA22Q", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"8d186eb5f7e63c5a4d6fd28843069ada"'
      Last-Modified:
      - Wed, 14 May 2014 16:44:58 GMT
      Status:
      - 200 OK
      X-Mid:
      - 5caa0e6a211b1d4595a160b880a13cbe897a2bad
      X-Tfe-Logging-Request-Category:
      - API
      X-Transaction:
      - 5ef42c02aa6a997c
    body:
      encoding: US-ASCII
      string: oauth_token=1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I&oauth_token_secret=DxreKIh6WdJe6fCtlI075R4l4tAFdeRHRf1Q3krfgRWyL&user_id=1365110203&screen_name=libtechnyu
  recorded_at: Wed, 14 May 2014 16:44:58 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?include_entities=false&skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="pTILKkhngMyMqGpv3jQJUQ", oauth_nonce="u8vxr2YDRzUFTiD7nlT2T5ZP6KvB25HWZ0qYd7vd0",
        oauth_signature="fvRhA10Qz7H%2BmhPxiv9RllbRfoA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1400085898", oauth_token="1365110203-1vOTfiRxvFPZtAWcEWSXQSE5swnwH9FbbcgFr3I",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 14 May 2014 16:44:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1400086798'
      X-Tfe-Logging-Request-Category:
      - API
      X-Transaction:
      - d99e709c6b72ec51
    body:
      encoding: US-ASCII
      string: ! '{"id":1365110203,"id_str":"1365110203","name":"libtechnyu","screen_name":"libtechnyu","location":"","description":"","url":"http:\/\/t.co\/Ujmbv1PKeq","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Ujmbv1PKeq","expanded_url":"http:\/\/library.nyu.edu","display_url":"library.nyu.edu","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 19 18:32:13 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Wed, 14 May 2014 16:44:58 GMT
recorded_with: VCR 2.8.0
