<h2 class="help">
  <%= fa_icon "question-circle 2x", class: "circle" %>
  <span class="help_text"><%= t('application.auth_footer_html', link: link_to("I'm lost. Get help from a librarian.", 'http://library.cooper.edu/library_information_frameset.html', target: '_blank')) %></span>
</h2>
