<div id="shibboleth">
  <h2>
    <%= t('application.nyu.header') %>
  </h2>
  <p>
    <%= link_to t('application.nyu.link_text'), user_omniauth_authorize_path(:nyu_shibboleth, institute: current_institute.code), class: "btn" %>
  </p>
</div>
