<div id="visitor">
  <h1>
    <%= t('application.general_public.header') %>
  </h1>
  <div class="facebook">
    <%= link_to "Facebook", user_omniauth_authorize_path(:facebook, institute: current_institute.code), title: "Login via Facebook", class: "btn btn-large btn-primary" %>
  </div>
  <div class="twitter">
    <%= link_to "Twitter", user_omniauth_authorize_path(:twitter, institute: current_institute.code), title: "Login via Twitter", class: "btn btn-large btn-primary" %>
  </div>
</div>
