<div id="logins" class="auth-container container">
  <div class="auth-inner-container">
  <% if request.path.include? "visitor" %>
    <%= render "visitor" %>
  <% else %>
    <%= render "#{institution_from_code(params[:auth_type]).views["login"]["primary"]}" %>
  <% end %>
  <%= render "devise/sessions/help/#{params[:institution]}_help" rescue render "devise/sessions/help/help" %>
  </div>
</div>
