<div id="nyu_shibboleth-login" class="col-sm-3 square alt-login">
  <h2><%= link_to t('application.nyu.link_text'), user_nyu_shibboleth_omniauth_authorize_path(institution: current_institution.code, auth_type: :nyu, redirect_uri: @redirect_uri) %></h2>
</div>
