<%- if flash[:alert] -%>
  <%= content_tag(:div, class: ["alert", "alert-error", "fade", "in"]) do -%>
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <%= content_tag :div, flash[:alert] -%>
  <%- end -%>
<%- end -%>
<%- if flash[:notice] -%>
  <%= content_tag(:div, class: ["alert", "alert-info", "fade", "in"]) do -%>
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <%= content_tag :div, flash[:notice] -%>
  <%- end -%>
<%- end -%>
